@mixin img() {
  width:$width_desktop_primera_seccion;
  margin-top: 3%;
  padding: 0;
  margin-left: -15%;
}

@mixin img_segunda_seccion() {
  border: 0.6em solid #DBBE86;
  border-radius: 55%;
  width: 90%;
  margin-top: $margin_top_img_segunda_seccion;
}

@mixin img_tercer_seccion() {
  border: 1px solid transparent;
  border-radius: 3.2em;
  margin-left: -5%;
  padding: 4%;
  margin-top: 6%;
  margin-bottom: 10%;
  width: $width_desktop;
}

@mixin img_cuarta_seccion() {
  border: 1px solid transparent;
  border-radius: 1.2em;
  width: 52%;
  margin: 0% 5% 5% 0%;
}

@mixin button() {
  background-color: $background_button_segunda_seccion;
  border: none;
  width: 27%;
  font-size: 0.6em;
  margin-left: 33%;
  margin-top: 10%;
  margin-bottom: 25%;
}

 