$body_font: 'Roboto', sans-serif;
$font-size_p: 0.85em;
$font-size_titulos: 1.3em;
$background_header_footer: #2F1F1F;
$background_segunda_seccion: #E9E0B7;
$background_tercera_seccion: #F4F4F4;
$background_cuarta_seccion: #4A3A3A;
$background_button_segunda_seccion: #DBBE86;
$color_text_header: #fff;
$color_text_header_hover: #F9B85A;
$color_text_p: #989998;
$colot_text_text: #D3CAA3;
$text_center: center;
$margin_top: 10%;
$margin_top_tercera_seccion: 5%;
$padding_footer: 2%;
$width_desktop_primera_seccion: 124.2%;
$width_desktop: 100%;
$margin_top_img_segunda_seccion: -25%;
